input[type="submit"] {
    background-color: $peach;
    border: none;
    border-radius: 20px;
    color: $cloud;
    margin: 10px 0;
    padding: 10px 45px;
    width: 100%;
}

.btn {
	background-color: $peach;
    border: none;
    border-radius: 20px;
    color: $cloud;
    margin: 10px 0;
    padding: 10px 45px;
}